doctype html
html
    head
        title 潭州教育前端学院考试管理系统
        link(rel='shortcut icon' href='http://moonbuy.cn/mall/static/images/favicon.ico' type='image/x-icon')
        style.

    body
        h1 欢迎管理员 #{adminUser}