doctype html
html
    head
        title 潭州教育前端学院考试管理系统
        link(rel='shortcut icon' href='http://moonbuy.cn/mall/static/images/favicon.ico' type='image/x-icon')
        link(rel='stylesheet' type='text/css' href='/stylesheets/admin.css')
        link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css")
        script(src="/javascripts/jquery.js")
    body
        aside
            div.logo
                img(src='/images/logo2.png')
            div.list
                ul
                    li.active 用户管理
                    li 考试管理
                    li 成绩查询
        div.main
            content.user
                div.title
                    h2 用户管理
                    button 查询
                div.search-answer
            content.test(style='display:none')
                div.title
                    h2 考试题库
                    div.sel
                        select#sel_subj
                            option(value='mcq') 选择题
                            option(value='multiple') 多选题
                            option(value='judge') 判断
                            option(value='code') 编程题
                            option(value='sketch') 简答题
                        button.q-query 查询
                div.search-answer(style='display:none')
                    div#btn
                        input.q-push.q-btn(type="button" value="添加新试题")
                        input.q-del.q-btn(type="button" value="删除所选试题")
                    div#table
            content.performance(style='display:none')
                div.title
                    h2 成绩查询
                    button 查询
                div.search-answer
        div#push_data
            div.q-data-wrap
    script(type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js")
    script(type="text/javascript" language="javascript" src="/javascripts/DataTable/js_table_init.js")
    script(type="text/javascript" language="javascript" src="/javascripts/table_builder.js")
    script(type="text/javascript" language="javascript" src="/javascripts/post_form.js")
    script.
        $(".list ul li").click(function () {
            var index = $(this).index();
            $(this).addClass('active').siblings().removeClass();
            $(".main content").eq(index).show().siblings().hide();
        });
        $(".q-push").click(function () {
            var type = $("#sel_subj").val();
            creates_form(document.getElementById("push_data").childNodes[0],type);
            $("#push_data").show();
        });
        $("#push_data").click(function () {
            $(this).hide();
        })
        $(".q-data-wrap").click(function (e) {
            e.stopPropagation();
        });

        $(".q-query").click(function () {
            var type = $("#sel_subj").val();
            $(".search-answer").hide();
            table_builder(document.getElementById("table"), "javascript", type);
            $(".search-answer").show();
            initTable(type);
        });
