doctype html
html
    head
        title 潭州教育前端学院考试管理系统
        link(rel='shortcut icon' href='http://moonbuy.cn/mall/static/images/favicon.ico' type='image/x-icon')
        link(rel='stylesheet' type='text/css' href='/stylesheets/admin.css')
        link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css")
        script(src="/javascripts/jquery.js")
    body
        aside
            div.logo
                img(src='/images/logo2.png')
            div.list
                ul
                    li.active 用户管理
                    li 考试管理
                    li 成绩查询
        div.main
            content.user
                div.title
                    h2 用户管理
                    button 查询
                div.search-answer
            content.test(style='display:none')
                div.title
                    h2 考试题库
                    div.sel
                        select#sel_subj
                            option(value='basics') 前端基础
                            option(value='javascript') javascript
                            option(value='html5') HTML5
                        button.q-query 查询
                div.search-answer
                    div#btn
                        input.q-push.q-btn(type="button" value="添加新试题")
                        input.q-del.q-btn(type="button" value="删除所选试题")
                    table#textTable.display(style="width:100%" cellspacing="1")
                        thead
                            tr
                                th ID
                                th 问题
                                th 选择项
                                th 展示代码
                                th 正确答案
                                th 解释
                                th 修改时间
                                th
            content.performance(style='display:none')
                div.title
                    h2 成绩查询
                    button 查询
                div.search-answer
        div#push_data
            div.q-data-wrap
                form(action="/v1_0/javascript/mcq" method="POST")
                    div
                        p
                            label 题目
                        input(type="text" name="question")
                    div
                        p
                            label 试题代码
                        textarea(name="q_code")
                    div
                        p
                            label 选项(数组格式)
                        input(type="text" name="options")
                    div
                        p
                            label 正确答案
                        input(type="text" name="rightAnswer")
                    div
                        p
                            label 解释说明
                        textarea(name="explain")
                    input(type="submit" class="q-submit" value="提交试题")
    script(type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js")
    script(type="text/javascript" language="javascript" src="/javascripts/DataTable/questions.js")
    script.
        $(".list ul li").click(function () {
            var index = $(this).index();
            $(this).addClass('active').siblings().removeClass();
            $(".main content").eq(index).show().siblings().hide();
        });
        $(".q-push").click(function () {
            $("#push_data").show();
        });
        $("#push_data").click(function () {
            $(this).hide();
        })
        $(".q-data-wrap").click(function (e) {
            e.stopPropagation();
        });




