doctype html
html
    head
        title 潭州教育前端学院考试管理系统
        link(rel='shortcut icon' href='http://moonbuy.cn/mall/static/images/favicon.ico' type='image/x-icon')
        style.

    body
        a(href='/admin/login') 管理员登陆
    script(src='/javascripts/jquery.js')
    script.
        document.onclick = function () {
            $.post('/api/oauth/token',{
                grant_type:"password",
                client_id:"cl",
                client_secret:123,
                username:"xiaolong",
                password:"123456"
            },function (doc) {
                var value = "Authorization%20"+doc.access_token;
                $.ajax({
                    type: "get",//数据发送的方式（post 或者 get）
                    url: "/v1_0/javascript/mcq",//要发送的后台地址
                    data: {Authorization: value},//要发送的数据（参数）格式为{'val1':"1","val2":"2"}
                    contentType: "application/x-www-form-urlencoded",
                    success: function (data) {//ajax请求成功后触发的方法
                        console.log(data)
                    },
                    error: function (msg) {//ajax请求失败后触发的方法

                    }
                });
            });
        }